aiohttp
aioredis

args
asgiref
async-generator
async-timeout

autobahn

attrs


cloudinary
django-cloudinary-storage
dj-database-url
Django==3.2.9
django-jazzmin
django-heroku

docutils




gunicorn
hiredis
html5
hyperlink

idna
jedi
Jinja2
json5
jsonschema

pyOpenSSL

requests
requests-toolbelt

urllib3
virtualenv
virtualenv-clone
virtualenvwrapper-win

websockets
Werkzeug
whitenoise