
{% extends "accounts/base.html" %}
{% load static %}

{% block title %}
Sign in
{% endblock %}
{% block script %}

    
<link rel="stylesheet" href="{% static 'accounts/style.css' %}">
<style type="text/css">


    body {

      background-image: linear-gradient(to right, #C0D5ED, #9DE3FC);


    }

    .filled-button {
        background-color: transparent;
        color: #fff;
        background-color: #515148;
        border: none;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 700;
        padding: 12px 30px;
        border-radius: 30px;
        display: inline-block;
        transition: all 0.3s;
        outline: none;
        box-shadow: none;
        text-shadow: none;
        cursor: pointer;
    }
       
    .filled-button:hover {
        background-color: #23B5B5;
        color: white;
    }

        
</style>

{% endblock %}

{% block main %}


    {% for msg in messages %}
       
        <p class="text-success text-center" id = "msg-container">{{msg}}</p>

                    
    {% endfor %}



            <div class="container col-xl-10 col-xxl-8 px-4 py-5">
              <div class="row align-items-center g-lg-5 py-5">

                <div class="col-md-10 mx-auto col-lg-5">

                <form class="p-4 p-md-5 border rounded-3 bg-light" action="{% url 'profile' %}" method="post" enctype='multipart/form-data'>


                    {% csrf_token %}

                    {{ profile_form }}

                    <button class="w-100 filled-button mt-3" type="submit">Submit</button>
                    <hr class="my-4">

                </form>
            </div>

        </div>

    </div>



{% endblock %}
